<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>
	body{
		box-sizing:border-box;
	}
	
	#bgimage
	{
		z-index:-1;
		position:fixed;
		background-repeat:no-repeat;
		background-size:100vw 100vh;
		background-image:url("https://c.pxhere.com/photos/a6/3e/photographer_photography_photgraph_camera_imagery_person_man_woman-825740.jpg!d");
		height:100vh;
		width:100vw;
		top:0;
	}
.navbar
{
	z-index:1;
	margin-top:0px;
	display:relative;
	background-color:transparent<br>;
	padding:10;
	position:fixed;
	width:100vw;
	top:0;
}
	#description
	{
		color:white;
		padding-bottom:15px;
		background-color:transparent;
		height:auto;
		display:relative;
		margin-top:100px;
		
	}
	.whole{
		z-index:-1;
	}
	li a{
		color:white;
	}
</style>
<body>
	<div id="bgimage">
		
	</div>
	<nav id="topnav" style="margin:0;"class="navbar navbar-expand-lg ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
		  <a class="nav-link" href="#"><img style="width:30px;height:30px;" src="https://attainu.com/images/logo.png">AttainU <span class="sr-only">(current)</span></a>
      </li>
		</ul>
     <ul class="navbar-nav">
    <li class="nav-item dropdown" style="float:right;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
		 <li class="nav-item dropdown" style="float:right;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Placements
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
		 <li class="nav-item dropdown" style="float:right;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hire
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
		</ul>
	  <button type="button" class="btn btn-outline-warning"><strong>Apply Now</strong></button>
  </div>
		</div>
</nav>
	<div class="whole container">
	<div id="description">
		<h1>Attain Your Dream Career</h1><br>
		<h3>Your College Alternative to a Premium<br> Software Engineering Career	
		</h3><br><br>
		<h6>
			Enroll Today<br>
			<svg viewBox="64 64 896 896" focusable="false" class data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" >
				<path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z"></path>
				<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"</path>
			</svg> Full-Stack Web Development Course
			<br><br>
			<svg viewBox="64 64 896 896" focusable="false" class data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" >
				<path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z"></path>
				<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"</path>
			</svg> No Coding Background Required
			<br><br>
			<svg viewBox="64 64 896 896" focusable="false" class data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" >
				<path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z"></path>
				<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"</path>
			</svg> Pay only when you get placed*
			<br><br>
			<svg viewBox="64 64 896 896" focusable="false" class data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" >
				<path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z"></path>
				<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"</path>
			</svg> Live-Online Interactive Classes
			<br><br>
			<svg viewBox="64 64 896 896" focusable="false" class data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" >
				<path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z"></path>
				<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"</path>
			</svg> Flexible Evening Classes
			
		</h6>
		<br>
		<h6>Next Batch Starts: December 21, 2020</h6>
		<h6 id="timedifference">dummy</h6>
		<button style="padding:10px 30px;color:white;" type="button" class="btn btn-warning">Get started</button>
	</div>
		<div style="background-color:white;transform:translate(-50%,-30%);width:70%;position:absolute;margin-left:47%;border-radius:10px;box-shadow:0px 0px 20px rgb(0,0,0,0.2);">
			<div style="color:orange;vertical-align:top;padding:50px;display:inline-block;"><h4>
				Part Time - Evening Classes<sup style="color:blue"> New</sup></h4></div>
			<div style="padding:32px 0;display:inline-block;">
				Schedule | Mon - Fri (6 pm - 11 pm)<br>
Live & Online Classes<br>
12 Months Highly Engaging Curriculum
			</div>
		</div></div>
		<div style="background-color:white;width:100%;padding-top:200px;">
			<div class="container">
				<h4 style="padding:5px 0;text-align:center;background-color:orange;color:white;">Next Batch: 21st December</h4>
			<!--*************************************************!-->
			<div style="display:flex;margin:50px 0;">
				<div style="width:33.3%">
					<h1 style="text-align:center;margin-bottom:15px;color:darkblue">1030+</h1>
					<h5 style="color:gray;text-align:center;margin-bottom:15px;">Enrolled Students</h5>
<p style="text-align:center">Over 1,00,000 Student Applications<br>
	Primary Selection Criteria - Commitment</p>
				</div>
				<div style="width:33.3%">
					<h1 style="text-align:center;margin-bottom:15px;color:darkblue">185+</h1>
					<h5 style="color:gray;text-align:center;margin-bottom:15px;">Placement Partners</h5>
<p style="text-align:center">Looking for Skills over Degrees<br>
From Early Stage to Unicorn Startups</p></div>
				<div style="width:33.3%">
					<h1 style="text-align:center;margin-bottom:15px;color:darkblue">1390+</h1>
					<h5 style="color:gray;text-align:center;margin-bottom:15px;">Absolute Beginners</h5>
<p style="text-align:center">Beginner to Entry Level Course<br>
					Switch Career to Software Engineering</p>
				</div>
			</div>
				
			<div style="display:flex;">
				<div style="position:relative;background-color:white;width:50%;">
					<h2 style="top:50%;left:50%;transform:translate(-50%,-50%);position:absolute;">Who is it for?<hr></h2>
				</div>	
				<div style="background-color:white;width:70%;">
					<div class="boxdesc" style="border-radius:10px;position:relative;margin-top:50%;display:inline-block;background-color:white;box-shadow:0px 0px 20px rgb(0,0,0,0.2);width:35%;height:25vh;margin:5%;"><h4 style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;">College Final Year</h4 ></div>
					<div class="boxdesc" style="border-radius:10px;position:relative;margin-top:50%;display:inline-block;background-color:white;box-shadow:0px 0px 20px rgb(0,0,0,0.2);width:35%;height:25vh;margin:5%;"><h4 style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;">Job Switcher</h4></div>
					<div class="boxdesc" style="border-radius:10px;position:relative;margin-top:50%;display:inline-block;background-color:white;box-shadow:0px 0px 20px rgb(0,0,0,0.2);width:35%;height:25vh;margin:5%;"><h4 style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;">Job Seeker</h4></div>
					<div class="boxdesc" style="border-radius:10px;position:relative;margin-top:50%;display:inline-block;background-color:white;box-shadow:0px 0px 20px rgb(0,0,0,0.2);width:35%;height:25vh;margin:5%;"><h4 style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;">12th Complete</h4></div>
				</div>
			</div>
				
			<div style="margin-top:100px;">
					<div style="width:100%;text-align:center;">
						<h3 style="display:inline-block;">How does AttainU help?<hr></h3></div>
					<div style="text-align:center">
					With AttainU you can completely re-write your career. No prior coding knowledge needed. Only willingness to put in efforts is required. Learn in-depth Software Development besides interview preparation. We prioritize on teaching excellence above all else.	
					</div>
					<div style="display:flex;margin:60px 10px 0 10px">
						<div style="text-align:center;width:33.5%;margin:0 10px"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/college.svg">Out of 90 lakhs only 15% get direct jobs rest are unemployed</div>
						<div style="text-align:center;width:33.5%;margin:0 10px"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/offline.svg">Out of 90 lakhs only 15% get direct jobs rest are unemployed</div>
						<div style="text-align:center;width:33.5%;margin:0 10px"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/internet.svg">Out of 90 lakhs only 15% get direct jobs rest are unemployed</div>
					</div>
			</div>
				
				<div style="width:100%;margin-top:100px;display:block;text-align:center;">
						<h3 style="display:inline-block;">Course Highlights<hr></h3></div>
				<div style="margin-top:20px;display:flex">
					<div style="text-align:center;width:100%;text-align:center;"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/hourglass.svg">
						<h3 style="text-align:center;">12</h3><br>Months Long
Evening Classes<br>
Mon - Fri (6pm to 11pm</div>
					<div style="text-align:center;width:100%;text-alig</h3>n:center;"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/software.svg">
						<h3 style="text-align:center;">3</h3><br>Industry Relevant
Projects</div>
					<div style="text-align:center;width:100%;text-alig</h3>n:center;"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/interview.svg">
						<h3 style="text-align:center;">30</h3><br>Peer Based
Mock Interviews</div>
					<div style="text-align:center;width:100%;text-align</h3>:center;"><img style="display:block;width:30%;margin:0 auto 20px auto;" src="https://attainu.com/images/test.svg">
						<h3 style="text-align:center;">19</h3><br>Placement Preparation
Tests</div>
				</div>
				
				<div style="display:flex;margin-top:150px;">
					<div style="position:relative;background-color:white;width:30%;">
						<div>
							<h3 style="text-align:center;padding-bottom:10px;">Student Projects</h3>
						</div>
						<div style="background-color:rgb(230,230,230);width:100%;padding:15px 0 10px 15px;margin:5px 0;">AGRICOM</div>
						<div style="background-color:rgb(230,230,230);width:100%;padding:15px 0 10px 15px;margin:5px 0;">BOOKWORM</div>
						<div style="background-color:rgb(230,230,230);width:100%;padding:15px 0 10px 15px;margin:5px 0;">SOCIALNETWORK</div>
						<div style="background-color:rgb(230,230,230);width:100%;padding:15px 0 10px 15px;margin:5px 0;">EASYATTEND</div>
						<div>
							<p style="text-align:center;padding-top:10px;">Browse more projects -></p>
						</div>
					</div>
					<div style="position:relative;background-color:gray;margin-left:15px;width:70%;border:1px solid black;border-radius:10px;color:white;">
						<p style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">Video comes here</p>
					</div>
				</div>
				
				
					<div style="margin-top:100px;text-align:center;">
						<h3 style="display:inline-block;color:black;text-align:center;padding-bottom:10px;">Fee payment option<hr></h3>	
					</div>
				<div style="display:flex;width:60%;margin:0 auto;">
					<div style="text-align:center;width:45%;margin:0 2%;color:black;"><h3>Option 1</h3></div>
					<div style="text-align:center;width:45%;margin:0 2%;color:black;"><h3>Option 2</h3></div>
				</div>
				<div style="display:flex;width:60%;margin:0 auto;">
					
					<div style="text-align:center;width:45%;margin:0 2%;border:1px solid black;border-radius:10px;padding:80px 0px;">
						<h3>2,60,000/-</h3>
						Pay after placements
					</div>
					<div style="text-align:center;width:45%;margin:0 2%;border:1px solid black;border-radius:10px;padding:80px 0px;">
						<h3 style="text-decoration:line-through;">1,60,000/-</h3>
						<h3>
							1,25,000/-
						</h3>
						Upfront Fee Payment
					</div>
				</div>
				
				<div style="position:relative;width:70%;margin:100px auto 0 auto;">
					<div style="width:100%;padding:10px 0px 10px 30px;background-color:#DEEFF5;border-bottom:1px solid black;">
						<h6>Total Fee</h6>
						<h4>2.60 Lakhs</h4>
					</div>
					<div style="width:100%;padding:10px 0px 10px 30px;background-color:white;border-bottom:1px solid black;">
						<h6>Registration Fee Portion</h6>
						<h4>60,000 (+18% GST) Non-refundable, paid upfront
</h4>
					</div>
					<div style="width:100%;padding:10px 0px 10px 30px;background-color:#DEEFF5;border-bottom:1px solid black;">
						<h6>Tuition Fee Portion</h6>
						<h4>2 Lakhs Pay only when you get a job of min 5 LPA.</h4>
					</div>
					<div style="width:100%;padding:10px 0px 10px 30px;background-color:white;border-bottom:1px solid black;">
						<h6>Tuition Fee EMI Options</h6>
						<h4>24 Months (subject to co-applicant credit rating). Else 1 to 10 months options.
</h4>
					</div>
					<div style="width:100%;padding:10px 0px 10px 30px;background-color:white;border-bottom:1px solid black;">
						<h6>ISA Breach Recovery Cheque</h6>
						<h4>50,000 Executed only in the case of ISA Breach</h4>
					</div>
				</div>
				
				<div style="margin-top:100px;text-align:center;">
						<h3 style="display:inline-block;color:black;text-align:center;padding-bottom:10px;">We are looking at for<hr></h3>	
					</div>
				
				<div style="margin-top:100px;text-align:center;">
						<h3 style="display:inline-block;color:black;text-align:center;padding-bottom:10px;">In the process<hr></h3>	
				</div>
				<div style="display:flex;">
					<div style="text-align:center;width:30%;margin:0 1% 50px 1%;padding-bottom:100px;position:relative;border:1px solid black"><h6 style="position:absolute;right:10px;bottom:10px">Read Article -></h6><img style="margin:10px auto 30px auto;width:40%;display:block;" src="https://attainu.com/images/businesstoday.jpg">60%+ engineering graduates are unemployed. Beyond engineering, this problem multiplies 10 times.</div>
					<div style="text-align:center;width:30%;margin:0 1% 50px 1%;padding-bottom:100px;position:relative;border:1px solid black"><h6 style="position:absolute;right:10px;bottom:10px">Read Article -></h6><img style="margin:10px auto 30px auto;width:40%;display:block;" src="https://attainu.com/images/yourstory.jpg">Why this ex-Uber and Google engineer decided to skill college graduates with his edtech startup?</div>
					<div style="text-align:center;width:30%;margin:0 1% 50px 1%;padding-bottom:100px;position:relative;border:1px solid black"><h6 style="position:absolute;right:10px;bottom:10px">Read Article -></h6><img style="margin:10px auto 30px auto;width:40%;display:block;" src="https://attainu.com/images/inc42.jpg">AttainU aims to ensure that India's demographic numbers convert into a dividend instead of a burden.</div>
					<div style="text-align:center;width:30%;margin:0 1% 50px 1%;padding-bottom:100px;position:relative;border:1px solid black"><h6 style="position:absolute;right:10px;bottom:10px">Read Article -></h6><img style="margin:10px auto 30px auto;width:40%;display:block;" src="https://attainu.com/images/bloomberg.jpg">College education challenges are lack of counselling, obsolete faculty and outdated curriculum.</div>
				</div>
				
				</div>
			
			<div class="footer" style="background-color:rgb(250, 250, 251);">
				<div class="container">
					<div style="display:flex;padding-top:100px;padding-bottom:60px;">
						<div style="width:50%;margin-right:60px;">
							<h6>AttainU
								
							</h6><br>
							AttainU is a scalable college alternative, focusing on high-quality, industry-aligned learning outcomes, targeted towards highly motivated individuals looking to get into high growth careers
						</div>
						<div style="width:15%;margin-right:100px;">
							<span style="text-decoration:underline;">Important Links</span><br><br>
<a href="">Blog</a><br>
<a href="">Forum</a><br>
<a href="">Privacy Policy</a><br>
<a href="">Terms & Conditions</a><br>
<a href="">Sitemap</a>
						</div>
						<div style="width:30%;">
							<span style="text-decoration:underline;">Contact Us</span><br><br>
For Admissions:<br>
080-47192019<br>
admissions@attainu.com<br><br>

For Hiring Partners:<br>
hiringpartners@attainu.com<br><br>

Office Address:<br>
BHIVE Workspace, L-148, 5th Main Rd,<br>
Sector 6, HSR Layout, Bengaluru,<br>
Karnataka 560102
						</div>
					</div>
					<div style="text-align:center;color:orange;padding-bottom:60px;">Copyright © 2020, LeetU Education Pvt. Ltd.</div>
				</div>
			</div>
		</div>

</body>
<script>
	var lia=document.querySelectorAll("li a");
	var navbar=document.querySelector(".navbar"),
		boxdesc=document.querySelectorAll(".boxdesc");
		
	window.addEventListener("scroll",function(){
		if(window.pageYOffset>=100){
		navbar.style.backgroundColor="white";
			navbar.style.boxShadow="0px 0px 10px rgb(0,0,0,0.2)";
			for(var i=0;i<lia.length;i++){
				lia[i].style.color="black";		
			}
			
		}else{
		navbar.style.backgroundColor="";
		navbar.style.boxShadow="";
		for(var i=0;i<lia.length;i++){
				lia[i].style.color="";		
			}
		}
	});

	for(let x=0;x<boxdesc.length;x++){
		boxdesc[x].addEventListener("mouseover",function(){
			boxdesc[x].style.boxShadow="0px 0px 5px rgb(0,0,0,0.2)";
		});
		boxdesc[x].addEventListener("mouseout",function(){
			boxdesc[x].style.boxShadow="0px 0px 20px rgb(0,0,0,0.2)";
		});
	}
	
</script>